
$nodeError: #ff0000;
$nodeWait: #9d9d9d;
$nodeRunning: #4D5616;
$nodeFinished: #9d9d9d; 
$nodeStopped: #9d9d9d; 

$DefaultNodeWindow: #000000;

$InNodeWindow: #000000;
$OutNodeWindow: #000000;
$ChatNodeWindow: #000000;
$ModuleNodeWindow: #193748;
$LogicNodeWindow: #000000;
$ScriptNodeWindow: #000000;

$windowFlameLabel: #cccccc;
$socketConnected: #D3E46B;

$edgeNormal: #505050;
$edgeActive: #ff6699;

$nodeSelected: #3173c4;