.graphView {
  border: none;
  margin: 0px;
  width: 8px;
  height : 8px;
  border-radius: 7px;
  background-color: #18171b;
}

.graphView::handle:vertical,
.graphView::handle:horizontal {
    background: #474749;
    border-radius: 7px;
    border: none;
    margin: 0;
}

.graphView::add-line:vertical,
.graphView::sub-line:vertical,
.graphView::add-line:horizontal,
.graphView::sub-line:horizontal {
    border: none;
    border-radius: 7px;
    margin: 0;
}

.graphView::add-page:vertical,
.graphView::sub-page:vertical,
.graphView::add-page:horizontal,
.graphView::sub-page:horizontal {
    border: none;
    background: #1d1d1d;
    margin: 0;
}