// 注意！これはCSS風のファイルであってCSSではありません。

// must be int!
// dont "px" or "em" etc.
$flame-height: 33;
$flame-padding: 5;
$border-radius: 5;
$border-width: 15;

// label
$letter-spacing: 1.5;
$font-size: 9;
$font-family: Yu Gothic UI;
$left: 8;
$top: 3;
